.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

*.log
runtime
!.gitignore
!.htaccess

easyswoole/php-easyswoole.tar

lnmp-v0/mysql/data
lnmp-v1/mysql/data
lnmp-v2/mysql/data
lnmp-v3/mysql/data
lnmp-v3/mysql/data
lnmp-v3-woaibingkele/mysql/data
lnmp-v4-zhongyuanib/mysql/data
walle/walle_mysql

lnmp-v2/www/laravel-5.8.32
lnmp-v2/www/laravel54
lnmp-v2/www/lumen-5.8.12
lnmp-v2/www/thinkphp-5.0.24
lnmp-v2/www/yii-2.0.17
lnmp-v2/www/test/php

lnmp-v3/redis/db
lnmp-v3/mongo/db

lnmp-v3-woaibingkele/redis/db
lnmp-v3-woaibingkele/mongo/db

lnmp-v4-zhongyuanib/redis/db
lnmp-v4-zhongyuanib/mongo/db

